.nav-link{
	font-size: 0.9rem;
	font-weight: 700 !important;
	padding: 10px;
	color: rgb(64, 64, 64) !important;
	margin-left: 1em !important;
}
.nav-link:hover{
	color: #007bff !important;
}
.navbar-nav{
	margin-left: 1em;
}
.nav-linkss {
	margin-right: 14em !important;
}
.nav-items{
	margin-right: -1em !important;
}
.navbar-brand{
	margin-left: 5em;
}
.nav-lin{
	padding-right: 3em;
}
.navbar {
	padding: 1em !important;
	background-color: #f4f5f9 !important;
}
.navbar1{
	background-color: #1a2b48;
		display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	line-height: 1.5;
}
.nav-links img{
width: 12px;
height: 12px;
margin-left: 2em;
filter: invert(1);
}
.nav-items{
	display: flex;
	flex-wrap: wrap;
	padding: 0.7em;

}
.nav-items a{
	color: #fff !important;
	text-decoration: none !important;
	margin-left: 0.5em;
	font-size: 0.8rem;
}
.nav-items a:hover{
	text-decoration: none !important;
}
#google{
	padding-left: -1em;
}
#facebook{
	margin-left: 6em;
}
.About-Us p{
	font-size: 1.5em;
	font-family: Indie_Flower,Dancing_Script;
	src:url(C:\Users\HP\Documents\web-designing);
}
.About-Us{
	margin: 7em;
}
.img {
	margin-left: 18em;
	margin-bottom: 5em;
}
.image{
	
}
section{
	margin-top: 11em;
	align-items: center;
}
.h1{
	text-align: center;
	margin-bottom: 1em;
	text-decoration: overline;
	background-color:#1a2b48;
	color: #fff; 
	font-family: Indie_Flower,Dancing_Script,Open_Sans,Raleway,Staatliches;
	src:url(C:\Users\HP\Documents\web-designing);
	padding: 1em !important;
	letter-spacing: 0.4em;
}
section h2{
	text-align: center;
	margin-bottom: 1em;
}

footer{
	margin-top: 15em;
	font-size: 1em;
	font-weight: 500;
	font-family: Lora,Big_Shoulders_Stencil_Display,Sansita_Swashed;
	src:url(C:\Users\HP\Documents\web-designing);
	}
.contain{
	flex-wrap: wrap;
	border-top:2px solid black;
	background-color:#1a2b48;
	color: #fff;
}
.s{
	color: #fff;
}





@media(max-width: 1050px){
  .image img{
	align-items: center;
	width: 100% !important;
	max-width: 100% !important;
	height: 70% !important;
}
}
@media(min-width: 700px){
span{
	margin-left: 20em !important;
}
}
@media(max-width: 850px){
	.nav-items{
		margin-left: 1em !important;
	}
	.nav-links img{
margin-left: -3em !important;
margin-top: 1.5em !important;
}
.nav-items a{
	margin-left: 0.1em;
	margin-top: -1em !important;
}
.nav-linkss{
	margin-right: 2em !important;
}
#bookings {
	margin-top: 0em !important;
	margin-left: -1em !important;
}
.h1{
	margin-left: 0em;
	font-size: 1em;
	letter-spacing: 0em;

}
.img {
	margin-left: -7em;
}
}